{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <div class"form-group d-inline">
            <form action="{{ path('login') }}" method="post">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column ">
                        <label class="mt-4" for="username">Email:</label>
                        <input class="form-control " type="text" id="username" name="_username" value="{{ last_username }}"/>
                        <label class="mt-4" for="password">Mot de passe:</label>
                        <input class="form-control" type="password" id="password" name="_password"/>
                        <button class="btn btn-dark mt-4" type="submit">Enter</button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ path('note_index') }}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
