{{ form_start(form) }}

<div class="note_form">
    <div class="d-flex flex-column align-items-center">
        <div class="col mt-5">
            <h3>Your note:</h3>
        </div>
        <div class="col mt-3">
            {{ form_label(form.title, 'Title:') }}
            {{ form_widget(form.title) }}
        </div>
        <div class="col mt-3 row mt-6">
            {{ form_label(form.text, 'Enter your note:') }}
            {{ form_widget(form.text) }}
        </div>
        <div class="col mt-3">
            {{ form_label(form.tags, 'Choose a tag:') }}
            {{ form_widget(form.tags) }}
        </div>
        <button class="btn btn-success mt-3">{{ button_label|default('Save') }}</button>

    </div>
</div>

{{ form_end(form) }}
